<!DOCTYPE html>
<html>
<head>
    <title>Playfair Cipher</title>
</head>
<body>
    <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="hutech" style="display: block;margin-left: auto; width: 30%;">
            <h4 style="font-weight: bold; text-align: center;">BÀI THỰC HÀNH BẢO MẬT THÔNG TIN NÂNG CAO</h4>
            <h4 style="font-weight: bold; text-align: center;">NGUYỄN VĂN KHIÊM 2280601490 HELLO WORLD!</h4>
<!-- templates/railfence.html -->
<h2>Rail Fence Cipher</h2>

<h3>Encrypt</h3>
<form method="POST" action="/railfence/encrypt">
  Plain Text: <input type="text" name="inputPlainText"><br>
  Key: <input type="number" name="inputKeyPlain"><br>
  <input type="submit" value="Encrypt">
</form>

<h3>Decrypt</h3>
<form method="POST" action="/railfence/decrypt">
  Cipher Text: <input type="text" name="inputCipherText"><br>
  Key: <input type="number" name="inputKeyCipher"><br>
  <input type="submit" value="Decrypt">
</form>
</body>
</html>
