<!DOCTYPE html>
<html>
<head>
    <title>Vigenère Cipher</title>
</head>
<body>
    <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="hutech" style="display: block;margin-left: auto; width: 30%;">
            <h4 style="font-weight: bold; text-align: center;">BÀI THỰC HÀNH BẢO MẬT THÔNG TIN NÂNG CAO</h4>
            <h4 style="font-weight: bold; text-align: center;">NGUYỄN VĂN KHIÊM 2280601490 HELLO WORLD!</h4>
    <h1>Vigenère Cipher</h1>

    <h2>Encrypt</h2>
    <form method="POST" action="/vigenere/encrypt">
        Plain Text: <input type="text" name="inputPlainText"><br>
        Key: <input type="text" name="inputKeyPlain"><br>
        <input type="submit" value="Encrypt">
    </form>

    <h2>Decrypt</h2>
    <form method="POST" action="/vigenere/decrypt">
        Cipher Text: <input type="text" name="inputCipherText"><br>
        Key: <input type="text" name="inputKeyCipher"><br>
        <input type="submit" value="Decrypt">
    </form>
</body>
</html>
